/**
 * Layout Styling
 */
html, body {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	position: relative;
	height: 100%;
}

.homepage-section {
	padding: 100px 0;
}

.white-content {
	background-color: #fff;
}

.pull-inline {
	display: inline;
}

// header {
// 	.navbar {
// 		.box-shadow(0 1px 7px #ccc);
		
// 		.navbar-brand {
// 			font-size: 25px;
// 			text-align: left;
// 			line-height: 50px;

// 			img {
// 				float: left;
// 				padding-right: 10px;
// 			}
			
// 			small {
// 				margin-top: -15px;
// 				display: block;
// 				font-size: 14px;
// 				line-height: 25px;
// 			}
// 		}

// 		.navbar-toggle {
// 			margin-top: 20px;
// 		}

// 		.nav-collapse {
// 			&.in {
// 				ul {
// 					float: none;

// 					a {
// 						padding-top: 15px;
// 						padding-bottom: 15px;
// 					}
// 				}
// 			}
// 		}
// 	}
// }